{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{%  endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/home/">BAZAR X</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mnu-principal" aria-controls="mnu-principal" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mnu-principal">
            <div class="navbar-nav">
                <a class="nav-link" href="/home/">HOME</a>
                <a class="nav-link" href="/cart/">CARTS</a>         
            </div>
        </div>
    </nav>

    {% block content %}{%  endblock %}

    <script src="{% static 'js/jquery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/popper/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
</body>

</html>
