<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
    <body onload='document.my_form.submit()'>
        <form action="{{response.url}}" name="my_form" method="POST">
            <input type="hidden" name="token_ws" value="{{response.token}}">
            <input type="hidden" name="amount" value="{{amount}}">
        </form>
    </body>
</html>